# Metadatos de Eclipse
.metadata/
.recommenders/

# Configuración local de cada proyecto
.settings/
.classpath
.project

# Compilados
bin/
out/
build/
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

*.zip